<!-- Site Footer Start -->
<footer class="site-footer">
    <div class="container">
        <div class="site-footer__top">
            <div class="row">
                <div class="col-xl-5 col-lg-5 wow fadeInUp" data-wow-delay="100ms">
                    <div class="site-footer__top-left">
                        <div class="site-footer__top-logo-content">
                            <a href="/"><img src="/assets/images/logo-light-1.png" width="146" alt="RevaampAP"></a>
                            <p class="site-footer__top-text">Nigeria's premier property <br> promotion platform connecting verified <br> property owners with trusted promoters.</p>
                        </div>
                        <div class="site-footer__top-newsletter">
                            <h5 class="site-footer__top-newsletter-title">Subscribe for Latest Property Updates</h5>
                            <form class="site-footer__top-newsletter-form" id="footerNewsletterForm">
                                <div class="site-footer__top-newsletter-input-box">
                                    <input type="email" placeholder="Email Address" name="email">
                                    <button type="submit" class="site-footer__top-newsletter-btn">Go</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7">
                    <div class="site-footer__top-right">
                        <div class="site-footer__top-widget-box">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="100ms">
                                    <div class="footer-widget__column footer-widget__explore clearfix">
                                        <h3 class="footer-widget__title">Explore</h3>
                                        <ul class="footer-widget__explore-list list-unstyled clearfix">
                                            <li><a href="/about">About</a></li>
                                            <li><a href="/properties">Properties</a></li>
                                            <li><a href="/how-it-works">How It Works</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="200ms">
                                    <div class="footer-widget__column footer-widget__links clearfix">
                                        <h3 class="footer-widget__title">For Owners</h3>
                                        <ul class="footer-widget__links-list list-unstyled clearfix">
                                            <li><a href="/register">List Your Property</a></li>
                                            <li><a href="/how-it-works#verification">Verification Process</a></li>
                                            <li><a href="/how-it-works#fees">Pricing & Fees</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="300ms">
                                    <div class="footer-widget__column footer-widget__contact clearfix">
                                        <h3 class="footer-widget__title">For Promoters</h3>
                                        <ul class="footer-widget__links-list list-unstyled clearfix">
                                            <li><a href="/promoter/register">Become a Promoter</a></li>
                                            <li><a href="/how-it-works#promoter">How It Works</a></li>
                                            <li><a href="/how-it-works#commission">Commission Structure</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="site-footer__top-contact-details wow fadeInUp" data-wow-delay="400ms">
                            <div class="site-footer__top-right-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <div class="site-footer__top-right-phone">
                                <p class="site-footer__top-right-phone-tagline">Call Anytime</p>
                                <a href="tel:+2348000000000">+234 800 000 0000</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-footer__bottom">
            <p class="site-footer__bottom-text">© 2024 Copyrights by <a href="#">RevaampAP</a>. All rights reserved.</p>
        </div>
    </div>
</footer>
<!-- Site Footer End -->