<!-- Start Searchbar Area -->
<div class="clgun offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop">
    <div class="offcanvas-header">
        <a href="/" class="logo">
            <img src="/assets/img/logo/logo.png" alt="RevaampAP">
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="search-box">
            <div class="searchwrapper"> 
                <div class="searchbox"> 
                    <div class="row align-items-center"> 
                        <div class="col-md-9">
                            <input type="text" id="globalSearchInput" class="form-control" placeholder="Search for properties by title, location, or type...">
                        </div> 
                        <div class="col-lg-3"> 
                            <a class="btn" href="#" onclick="performGlobalSearch()">Search Properties</a> 
                        </div> 
                    </div> 
                </div>
            </div>
        </div>
        <div class="offcanvas-contact-info mt-4">
            <h4>Popular Searches</h4>
            <div class="popular-searches">
                <a href="/properties?state=Lagos" class="badge bg-light text-dark m-1 p-2">Lagos</a>
                <a href="/properties?state=Abuja" class="badge bg-light text-dark m-1 p-2">Abuja</a>
                <a href="/properties?state=Rivers" class="badge bg-light text-dark m-1 p-2">Port Harcourt</a>
                <a href="/properties?type=land" class="badge bg-light text-dark m-1 p-2">Land</a>
                <a href="/properties?type=shortlet" class="badge bg-light text-dark m-1 p-2">Shortlet</a>
                <a href="/properties?type=building" class="badge bg-light text-dark m-1 p-2">Buildings</a>
                <a href="/properties?type=shop" class="badge bg-light text-dark m-1 p-2">Shops</a>
                <a href="/properties?transactionType=sale" class="badge bg-light text-dark m-1 p-2">For Sale</a>
                <a href="/properties?transactionType=rent" class="badge bg-light text-dark m-1 p-2">For Rent</a>
            </div>
        </div>
        <div class="offcanvas-contact-info mt-4">
            <h4>Need Help?</h4>
            <ul class="contact-info list-style">
                <li><i class="bx bxs-phone-call"></i> <a href="tel:+2348000000000">+234 800 000 0000</a></li>
                <li><i class="bx bxs-envelope"></i> <a href="mailto:support@revaampap.com">support@revaampap.com</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- End Searchbar Area -->